<header>
  <div class="controls">
    <div class="titulo">
      <h1>PelisInfo</h1>
    </div>
    <nav>
      <button class="btn btn-primary" [routerLink]="['lista']">Lista</button>
      <button class="btn btn-primary" [routerLink]="['/']" routerLinkActive="router-link-active" >Peliculas</button>
      <button class="btn btn-info" [routerLink]="['entrada']">Entradas</button>
      <button class="btn btn-primary" [routerLink]="['placeHolder']">JsonPlaceHolder</button>
      <button class="btn btn-primary" [routerLink]="['entradasPropias']">EntradasPropias</button>
    </nav>
  </div>

  
</header>
