<div class="conteiner">
  
  
  <div class="filtro ">
    <div class="titulo-filtro">
      <h1>Filtro</h1>
    </div>
    <div class="categorias" >
        <button (click) ="mostrarPeliculasComedia()">Comedia</button>
        <button (click) ="mostrarPeliculasDrama()">Drama</button>
        <button (click) = "mostrarPeliculasTeatro()">Teatro</button>
        <button (click) ="mostrarPeliculasNinos()">Niños</button>
        <button (click) ="mostrarPeliculas()">Mas Vistas</button>
    </div>
    
  </div>
  
  
  <div class="conteiner-peliculas">
    
    <div class="titulo-conteiner-peliculas">
      <input type="search" placeholder="Busca una pelicula" [(ngModel)]="search" (change)="verPeli()">
      <h3>Cantidad de Peliculas: {{cantidad}}</h3>
      <h3>{{titulo}}</h3>
     
    </div>
      <div class="conteiner-peliculas2">
        
        <div class="card"  *ngFor="let pelicula of Peliculas">
          <img src="{{imagen + pelicula.poster_path}}" alt="">


          <div class="fecha">
            <p>{{pelicula.release_date}}</p>
          </div>
          <div class="card-container" >
              <button (click)="vermas(pelicula.id)" >Ver Mas</button>
              <button (click)="guardarPelicula('peliculas2',pelicula)">Guardar pelicula</button>

            </div>

        </div>


      </div>

      <div class="botones">
        <button (click)="atras()" class="btn btn-danger">Atras</button>
        <h3>{{pagina}}</h3>
        <button (click)="adelante()" class="btn btn-primary">Adelante</button>

      </div>
  </div>

</div>
